
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <h3>REEZ URLS</h3>
    <% if(user){ %>
     <%= typeof username !== "undefined" ? username: '' %>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SHORT URL</th>
          <th scope="col">LENGTH URL</th>
          <th scope="col">DELETE</th>
          <th scope="col">EDIT</th>
          <!-- <form method="POST" action="/urls/9sm5xK/delete">...</form> -->
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td>
              <%= url %>
            </td>
            <td>
              <%= urls[url].longURL %>
            </td>
            <td>
              <form method="POST" action="/urls/<%= url %>/delete">
                <input type="submit" value="DELETE" class="btn btn-warning" />
              </form>
            </td>
            <td>
              <form method="GET" action="/urls/<%= url %>">
                <input type="submit" value="EDIT" class="btn btn-success" />
              </form>
              <% } %> 
            </td>
          </tr>
          <% } else { %>
            <h3>
          You must be Logged In to edit and add URLS   
        </h3> 
        <% } %>        
        </tbody>
    </table>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>